
  html, main {
    background-color: #7fffaa;
    height: 100vh;
  }

  header {
    padding: 1em;
    background-color: turquoise;
    color: lightyellow;
    border-bottom: #009688 1px solid;
  }
  
  main {
    padding-top: 1em;
    color: #05656c;
  }

  input[type=text], textarea, button, input[type=button] {
    margin-left: 5px;
    border-radius: 5px;
  }
  
  input[type=text] { 
    min-width: 300px;
    padding: 0.2em;
    background-color: lightyellow;
  }

  textarea { 
    width: 95%;
    resize: vertical;
    padding: 0.5em;
    background-color: lightyellow;
  }

  button, input[type=button], label { cursor: pointer; }
  
  button, input[type=button], .btn { border: solid 1px #01237a; }

  h1, h2, h3, p, label:not(.exep), .rel { margin-left: 1em; }

  .searching_inner { margin: 0.5em; }

  .t-8, .t-2 { vertical-align: baseline; }

  .t-8 { width: 80%; }
  
  .t-2 { width: 20%; }

  .areaParts { margin: 0 auto; }

  .selectArea { margin-top: 1em; }

  .separator { margin-bottom: 0.5em; }

  .blanker { margin-left: 2em; }

  .ft16px { font-size: 16px; }
  
  .ft20px { font-size: 20px; }

  .menu-select {
    box-shadow:yellow 0px 0px 5px 3px;
    color: yellow;
  }

  .line-btn {
    margin-bottom: 3px;
    padding: revert;
  }

  .view { color: black; }

  .selected, .hit {
    color: orange;
    font-weight: 600;
  }

  .unview { color: rgb(220, 220, 220); }

  .str-sm {
    font-size: 12px;
    font-weight: 600;
  }

  .view_note_area { text-align: left; }

  .none { display: none; }

  #vueArea {
    margin: 0 auto;
    width: 90%;
  }

  @media only screen and (min-width: 1000px) {
    .areaParts { width: 80%; }
  }

  @media only screen and (max-width: 480px) {
    input[type=text] { margin-left: 1em; }
    textarea {
      width: 90%;
      margin-right: 1em;
    }
    .modal-window, .btn { margin: 0.5em; }
    .exep { display:none; }
    .ft20px { font-size: 16px; }
  }

.fader{
	animation-name:fadeInAnime;
	animation-duration:1s;
}

@keyframes fadeInAnime{
  from {opacity: 0}
  to {opacity: 1;}
}
